body{
    background: pink;
    font-family: 'Nunito', sans-serif;    
}
#mainNavbar .navbar-brand{
    color:red;
    font-size:1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color:#FFF;
    text-transform: uppercase;
}
#mainNavbar .nav-link:hover{
    color:red;
}
#headerSection1 h2{font-size: 4rem;font-weight: 300;}
section{height:100vh;overflow: hidden;}
section > .row{height:100%;}
section .img-box{height: 100%;}
.img-box img{width:100%;height:100%;object-fit: cover;}
.navbar.sticky{background-color: paleturquoise;}
.navbar, .navbar-collapse{transition: all .3s;}
@media(max-width:767px){
    .navbar-nav{background-color: paleturquoise;}
}